# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
# created-by: conda 25.1.1
aiofiles=23.2.1=pypi_0
aiohappyeyeballs=2.4.6=pypi_0
aiohttp=3.11.12=pypi_0
aiosignal=1.3.2=pypi_0
annotated-types=0.7.0=pypi_0
anyio=4.8.0=pypi_0
attrs=25.1.0=pypi_0
beautifulsoup4=4.13.3=pypi_0
brotli=1.1.0=pypi_0
bzip2=1.0.8=h6c40b1e_6
ca-certificates=2024.12.31=hecd8cb5_0
certifi=2025.1.31=pypi_0
charset-normalizer=3.4.1=pypi_0
click=8.1.8=pypi_0
distro=1.9.0=pypi_0
duckduckgo-search=7.4.4=pypi_0
fastapi=0.115.8=pypi_0
ffmpy=0.5.0=pypi_0
filelock=3.17.0=pypi_0
frozenlist=1.5.0=pypi_0
fsspec=2025.2.0=pypi_0
gradio=5.17.1=pypi_0
gradio-client=1.7.1=pypi_0
h11=0.14.0=pypi_0
h2=4.2.0=pypi_0
hpack=4.1.0=pypi_0
httpcore=1.0.7=pypi_0
httpx=0.28.1=pypi_0
huggingface-hub=0.29.1=pypi_0
hyperframe=6.1.0=pypi_0
idna=3.10=pypi_0
importlib-metadata=8.6.1=pypi_0
jinja2=3.1.5=pypi_0
jiter=0.8.2=pypi_0
jsonschema=4.23.0=pypi_0
jsonschema-specifications=2024.10.1=pypi_0
libffi=3.4.4=hecd8cb5_1
litellm=1.61.13=pypi_0
lxml=5.3.1=pypi_0
markdown-it-py=3.0.0=pypi_0
markdownify=0.14.1=pypi_0
markupsafe=2.1.5=pypi_0
mdurl=0.1.2=pypi_0
multidict=6.1.0=pypi_0
ncurses=6.4=hcec6c5f_0
numpy=2.2.3=pypi_0
openai=1.63.2=pypi_0
openssl=3.0.15=h46256e1_0
orjson=3.10.15=pypi_0
packaging=24.2=pypi_0
pandas=2.2.3=pypi_0
pillow=11.1.0=pypi_0
pip=25.0=py311hecd8cb5_0
propcache=0.3.0=pypi_0
pydantic=2.10.6=pypi_0
pydantic-core=2.27.2=pypi_0
pydub=0.25.1=pypi_0
pygments=2.19.1=pypi_0
python=3.11.11=h4d6d9e5_0
python-dateutil=2.9.0.post0=pypi_0
python-dotenv=1.0.1=pypi_0
python-multipart=0.0.20=pypi_0
pytz=2025.1=pypi_0
pyyaml=6.0.2=pypi_0
readline=8.2=hca72f7f_0
referencing=0.36.2=pypi_0
regex=2024.11.6=pypi_0
requests=2.32.3=pypi_0
rich=13.9.4=pypi_0
rpds-py=0.23.1=pypi_0
ruff=0.9.7=pypi_0
safehttpx=0.1.6=pypi_0
semantic-version=2.10.0=pypi_0
setuptools=75.8.0=py311hecd8cb5_0
shellingham=1.5.4=pypi_0
six=1.17.0=pypi_0
smolagents=1.9.2=pypi_0
sniffio=1.3.1=pypi_0
socksio=1.0.0=pypi_0
soupsieve=2.6=pypi_0
sqlite=3.45.3=h6c40b1e_0
starlette=0.45.3=pypi_0
tiktoken=0.9.0=pypi_0
tk=8.6.14=h4d00af3_0
tokenizers=0.21.0=pypi_0
tomlkit=0.13.2=pypi_0
tqdm=4.67.1=pypi_0
typer=0.15.1=pypi_0
typing-extensions=4.12.2=pypi_0
tzdata=2025.1=pypi_0
urllib3=2.3.0=pypi_0
uvicorn=0.34.0=pypi_0
websockets=14.2=pypi_0
wheel=0.45.1=py311hecd8cb5_0
xz=5.6.4=h46256e1_1
yarl=1.18.3=pypi_0
zipp=3.21.0=pypi_0
zlib=1.2.13=h4b97444_1
